.logo {
	width: 150px;
	margin: 0px 10px;
}
.header-border {
	margin-top: 5px;
	margin-bottom: 0px;
}
.content-banner {
	display: block;
	margin: 0 auto;
	padding: 0px;
}
.loading {
	margin:	0px 5px;
	display: none;
}
.conceal {
	display: none;
}
.error-image-container img {
	margin-right: 10px;
}

.spotify-control {
	width: 65px;
}

.kef-control button {
	margin: 5px 0px;
}
.kef-control img {
	width: 33px;
}

.loader {
	float: right;
	border: 3px solid #f3f3f3;
	border-radius: 50%;
	border-top: 3px solid #3498db;
	width: 18px;
	height: 18px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}
.services ul {
  list-style: none;
}
.services ul li.online::before {
	content: ' ';
	width: 10px;
	height: 10px;
	margin: auto 10px;
	display: inline-block;
	background-color: #94E185;
	border-color: #78D965;
	border: 1px solid #000;
	border-radius: 10px;
	box-shadow: 0px 0px 4px 1px #94E185;
}
.services ul li.offline::before {
	content: ' ';
	width: 10px;
	height: 10px;
	margin: auto 10px;
	display: inline-block;
	background-color: #C9404D;
	border-color: #C42C3B;
	border: 1px solid #000;
	border-radius: 10px;
	box-shadow: 0px 0px 4px 1px #C9404D;
}

/* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.flora-table {
	width: 100%;
	margin-bottom: 0;
}
/* hide columns flora table if the window becomes to small-caps */
@media only screen and (max-width: 800px) {
.flora-table th:nth-child(4), .flora-table td:nth-child(4),
.flora-table th:nth-child(5), .flora-table td:nth-child(5),
.flora-table th:nth-child(6), .flora-table td:nth-child(6) {
		display:none;
	}
}
.flora-table th:nth-child(n+2),
.flora-table td:nth-child(n+2) {
	text-align: right;
}

.flora-description td:not(:last-child) {
	white-space: nowrap;
}
.flora-description td:last-child {
	width: 100%;
}
iframe { border: none; }
