{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="small-7 small-centered columns">
        <div class="panel" style="min-height: 180px;">
            <div id="error-image-container">
				<img id="error1" src="/static/images/errors/fbi-1.png" alt="500" class="left conceal" width="100">
				<img id="error2" src="/static/images/errors/fbi-2.png" alt="500" class="left conceal" width="100">
				<img id="error3" src="/static/images/errors/fbi-3.png" alt="500" class="left conceal" width="100">
				<img id="error4" src="/static/images/errors/fbi-4.png" alt="500" class="left conceal" width="100">
				<script type="text/javascript">
					var images = ["error1", "error2", "error3", "error4"];
					var img = images[ Math.floor( Math.random() * images.length) ];
					document.getElementById(img).style.display = 'block';
				</script>
			</div>
			<h2>This is not the page you're looking for.</h2>
			<h5>Move along. Move along.</h5>
        </div>
    </div>
</div>
{% endblock %}
